{%- if site.comments and page.comments -%}
<script src="https://giscus.app/client.js"
        data-repo="wookdev/munged-org"
        data-repo-id="R_kgDOGwyTww"
        data-category="Blog Comments"
        data-category-id="DIC_kwDOGwyTw84CBKUU"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{%- endif -%}
