.column {
  width: 100%;
  max-width: $max-column-size;
  margin: auto;
}

.current-page {
  background-color: $sol-mono00;
  a {
    color: $sol-mono3;
  }
}

.footnotes {
  border-top: thin solid $border-color-01;
}

.highlighter-rouge {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.menu-item {
  padding: 0 0.5rem;
  vertical-align: middle;
  display: inline;
}

.page-trail {
  line-height: 3rem;
  margin: auto;
  display: block;
}

.row {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.site-banner {
  line-height: 5rem;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.site-title {
  font-size: $font-size-site-title;
  float: left;
}
