@charset "utf-8";

:root {
  --color-bg: #000000;
  --color-bg-syntax: #222222;

  --color-text: lightgrey;
  --color-text-h-tags: gold;
  --color-text-link-active-bg: #333333;
  --color-text-links: darkorange;

  --font-family-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-mono: ui-monospace, Menlo, Monaco, Consolas, "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", monospace;
  --font-size-mono: 0.9rem;
}

html {
  font-size: 100%;
}

body {
  font-family: var(--font-family-sans);
  color: var(--color-text);
  background-color: var(--color-bg);
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 600px) {

}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-h-tags);
}

a:link, a:visited {
  color: var(--color-text-links);
  text-decoration: none;
}

a:hover, a:active {
  background-color: var(--color-text-link-active-bg);
  text-decoration: none;
}

pre, code {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-mono);
  background-color: var(--color-bg-syntax);
  overflow-x: auto;
  overflow-wrap: normal;
}
