:root {
  --root-font-size: 100%;
  --font-families: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  --rwd-padding: 1rem;
}

html {
  font-size: var(--root-font-size);
  font-family: var(--font-families);
  color: var(--color-text);
  background-color: var(--color-bg);
}

* {
  box-sizing: border-box;
}
