.skip-to-content {
  background:  var(--bg-color);
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  position: absolute;
  left: 0.5rem;
  transform: translateY(-120%);
  transition: transform 325ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}
