html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans;
  margin: 0;
  background-color: $background-color;
  color: $text-color;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1.25rem; }

header h1 {
  font-size: 3rem;
  color: $sol-yellow;
}

.site-banner {
  line-height: 5rem;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.site-title {
  font-size: $font-size-site-title;
  float: left;
}

nav {
  float: right;
}

.menu-item {
  padding: 0 0.5rem;
  vertical-align: middle;
  display: inline;
}

.column {
  width: 100%;
  max-width: $max-column-size;
  margin: auto;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: $link-base-color;
}

a:hover, a:active {
  color: $link-hover-color;
}

pre, code {
  font-family: $font-family-mono;
  font-size: $font-size-mono;
  overflow-x: auto;
  overflow-wrap: normal;
}

.highlighter-rouge {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.row, header, {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.footnotes {
  border-top: thin solid $border-color-01;
}