html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans;
  margin: 0;
  background-color: $background-color;
  color: $text-color;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1.25rem; }

header {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

header h1 {
  font-size: 3rem;
  color: $sol-yellow;
}

nav {
  float: right;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: $link-base-color;
}

a:hover, a:active {
  color: $link-hover-color;
}

pre, code {
  font-family: $font-family-mono;
  font-size: $font-size-mono;
  overflow-x: auto;
  overflow-wrap: normal;
}
