/*
 * Solarized theme uses this:
 */

$site-theme: black-as-hell

@import "syntax-github-dark"

\:root
    @if $site-theme == black-as-hell
        --base-color-bg:                #000000
        --base-color-bg-highlight:      #101010
        --base-color-text-body:         #ffffff
        --base-color-text-highlight:    #fcce23
        --base-color-text-accent:       #e39209

        --alt-color-bg:                 #101010
        --alt-color-bg-highlight:       #000000
        --alt-color-text-body:          #ffffff
        --alt-color-text-highlight:     #fcce23
        --alt-color-text-accent:        #e39209
